.container {
  width: 924px;
}

body {
  background: #eee;
}

header {
  padding-top: 15px;
}

header img {
  padding: 1em;
  background: #fff;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 924px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Links */
a {
  color: #830;
  text-decoration: none;
}

a:hover {
  color: #760;
  text-decoration: underline;
}

a:visited {
  color: #760;
}

/* Navigation */
nav {
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
 
nav ul li a:visited {
  color: #830;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Errors */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explaination {
  width: 400px;
  border: 2px solid red;
  padding: 7px 7px 7px 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explaination h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  font-size: 8pt;
  background-color: #c00;
  color: #fff;
}

#error_explaination p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explaination ul li {
  font-size: 12px;
  list-style: square;
}

/* Styling */
.profile {
  width: 100%;
  margin-bottom: 0;
}

.main {
  margin: 0;
  width: 67%;
  padding: 1em;
  display: inline-block;
}

.sidebar {
  margin: 0;
  width: 25%;
  padding: 1em;
  vertical-align: top;
  background: #996;
  display: inline-block;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
