.container {
  width: 924px;
}

body {
  background: #eee;
}

header {
  padding-top: 15px;
}

header img {
  padding: 1em;
  background: #fff;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 924px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

/* Comments */
section#comments h1 {
  font-size: 1.8em;
}

section#comments img.gravatar {
  float: left;
  display: block;
}

section#comments article header {
  border: 1px dashed #800;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0px 0px 5px 55px;
  padding: 2px 0px 2px 10px;
}

section#comments article header h1 {
  display: inline;
  font-size: 1.0em;
}

section#comments article div {
  margin-left: 55px;
  margin-bottom: 26px;
}

/* Links */
a {
  color: #830;
  text-decoration: none;
}

a:hover {
  color: #760;
  text-decoration: underline;
}

a:visited {
  color: #760;
}

/* Navigation */
nav 
  float: right;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
 
nav ul li a:visited {
  color: #830;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Errors */
.field_with_errors input, .field_with_errors select {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #c00;
}

.field_with_errors label {
  font-weight: bold;
}

.field_with_errors label:after {
  color: #c00;
  font-weight: bold;
  content: "  *";
}

.field_with_errors label:before {
  color: #c00;
  font-weight: bold;
  content: "*  ";
}

#error_explanation {
  width: 400px;
  border: 2px solid #c00;
  padding: 7px 7px 12px 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  font-size: 1em;
  background-color: #a00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 0.8em;
  list-style: solid circle;
}

/* Styling */
.profile {
  width: 100%;
  margin-bottom: 0;
}

.main {
  margin: 0;
  width: 67%;
  padding: 1em;
  display: inline-block;
}

.sidebar {
  margin: 0;
  width: 25%;
  padding: 1em;
  vertical-align: top;
  background: #996;
  display: inline-block;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

input, select, textarea {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px black;
  display: table;
  padding: 0px 10px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

ul.authors {
  margin-top: 1em;
}

.authors li {
  font-size: 1.5em;
  list-style: none;
  vertical-align: middle;
}

/* Flash */
section.flash {
  margin: 0px;
  padding: 0px;
  background: transparent;
}

section.flash div {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
  padding: 8px;
  margin: 0px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
