<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were <%= pluralize(@user.errors.count, "problem") %>
        creating your account:</h2>
    <p>Please fix the following fields to continue</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
