<!DOCTYPE html>
<html>
  <head>
    <title>Yet-Another-Blog-Engine (YABE) - <%= @title %></title>
  </head>
  <body>
    <h1>YABE Home page</h1>
    <p>
    This is a place holder page for what will become the home
    page in the blog engine. Eventually, a list of the most
    recent published posts should appear here.
    </p>
  </body>
</html>
