<footer>
  <nav class="round">
    <ul>
      <li><a href="http://www.google.com/">Google</a></li>
      <li><a href="http://www.googlecode.com">Google Code</a></li>
      <li>Place Holder Links</li>
    </ul>
  </nav>
</footer>
