<header>
  <%= link_to logo, root_path %>
  <% if logged_in? %>
    <nav class="round">
      <ul>
          <li><%= link_to "Profile", current_author %></li>
          <li><%= link_to "Logout", logout_path, :method => :delete %></li>
      </ul>
    </nav>
  <% end %>
</header>
